<div id="requirements">
    <h2>Requirements</h2>
    <ul>
        <li>
            You need to download the `cldrjs` dependency yourself. Read README.md for instructions.
        </li>
    </ul>
</div>
<div id="demo" style="display: none">
    <h2>{{{__ "Views.Globalize.DemoOutput"}}}</h2>
    <p>{{{__ "Views.Globalize.Now"}}}: <span id="date"></span></p>
    <p>{{{__ "Views.Globalize.ANumber"}}}: <span id="number"></span></p>
    <p>{{{__ "Views.Globalize.ACurrency"}}}: <span id="currency"></span></p>
    <p>Plural form of <span id="plural-number"></span> is <span id="plural-form"></span></p>
    <p>{{{__ "Views.Globalize.Messages"}}}:</p>
    <ul>
        <li><span id="message-0"></span></li>
        <li><span id="message-1"></span></li>
        <li><span id="message-2"></span></li>
        <li><span id="message-3"></span></li>
    </ul>
    <p>{{{__ "Views.Globalize.SomethingHappened"}}}: <span id="relative-time"></span></p>
</div>

