<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ui-helper-hidden">
        <h3>{{ this.viewModel.WhoYouAreMessage }} {{ this.viewModel.Customers.0.name}}</h3>
        <p>
            <!--<i class="ui-helpdesk-talks-wellcome-userIcon fa fa-arrow-right ui-state-default ui-helper-hidden"></i>-->
            {{ this.viewModel.WellcomeMessage}}
        </p>
        <div class="ui-customerEmlpoyeeAssigned">
            <p>{{{__ "Helpdesk.Talks.Home.CustomerHasEmployeeAssigned"}}}</p>
            <table>
                <tr>
                    <td>{{{__ "GeneralTexts.Name"}}}:</td>
                    <td>{{this.viewModel.defaultEmployeeInfo.name}}</td>
                </tr>
                <tr>
                    <td>{{{__ "GeneralTexts.Email"}}}:</td>
                    <td>{{this.viewModel.defaultEmployeeInfo.email}}</td>
                </tr>
            </table>
        </div>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox ">
            <button class="ui-helpdesk-talks-wellcome-next">{{{__ "Helpdesk.Talks.Employee.Wellcome.Next"}}} <i class="fa fa-arrow-right "></i> </button>
        </div>
    </div>
</div>




