<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0" />
    <title>{{Title}}</title>
    <!--Common styles begin-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="/public/cdn/{{Package.name}}.{{Package.version}}.ui.css" rel="Stylesheet" type="text/css" />
    <!--Common styles end-->

    <!--View specific styles begin-->
    {{#each CssFiles}}
        <link href="{{this}}" rel="Stylesheet" type="text/css" />
    {{/each}}
    <!--View specific styles end-->
</head>
<body class="ui-widget-content ui-hidden">
    <div class="ui-sitePage ui-widget">
        <div data-widget="userOptions">
            <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all">
                <div id="menuToggle" class="ui-menuToggle">
                    <div class="ui-menuToggle-icon fa fa-bars fa-2x"></div>
                    <div class="ui-menuToggle-text">Menu</div>
                    <div class="ui-carriageReturn"></div>
                </div>
                <div class="ui-site-nameBox">
                    <a href="/">{{DomainName}}</a>
                </div>
            </div>
            <div class="ui-carriageReturn"></div>
        </div>
        <div class="ui-carriageReturn"></div>

        <div class="ui-site-title">
            <h1>{{Title}}</h1>
            <hr />
        </div>

        <!--Breadcrumb begin-->
        <div class="ui-breadcrumb">
            <div class="ui-widget-content ui-corner-all ui-state-default">
                <ul>
                    {{#each Breadcrumb}}
                    <li>
                        {{#if this.url }}
                        <span class="ui-icon ui-icon-play"></span>
                        {{/if}}
                        <a href="{{this.url}}">{{this.title}}</a>
                    </li>
                    {{/each}}
                </ul>
                <div class="ui-carriageReturn"></div>
            </div>
        </div>
        <br />
        <!--Breadcrumb end-->

        <div class="ui-siteContent">
            <ul id="panelMenu" class="ui-menuNav ui-menuNav-Expand"></ul>
            <div id="panelContent" class="ui-siteContent-Container ui-siteContent-Container-Collapse">
                {{{body}}}
            </div>
        </div>

        <div class="ui-siteFooter">
            <div class="ui-widget-header ui-corner-all">
                <div>Copyright © 2012 Company Co. All rights reserved</div>
                <div class="ui-siteFooter-html5Logo"></div>
                <div class="ui-siteVersion">
                    v. - {{Package.version}}
                </div>
            </div>
        </div>

        <br />
    </div>
    



    <!--Common Jquery-->
    <script type="text/javascript" src="/public/cdn/{{Package.name}}.{{Package.version}}.ui_libs.js"></script>
    <!--Common jQuery localized-->
    <script type="text/javascript" src="/public/scripts/libs/jquery-ui-1.10.0/ui/i18n/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" src="/public/scripts/libs/jquery-validation-1.11.0/localization/messages_es.js"></script>
    <script type="text/javascript" src="/public/scripts/libs/jQuery-globalize/lib/cultures/globalize.culture.es.js"></script>
    <!--Common application-->
    <script type="text/javascript" src="/public/cdn/{{Package.name}}.{{Package.version}}.ui_appCommon.js"></script>
    <!--common javascript resources-->
    <script type="text/javascript">
        VsixMvcAppResult.Resources = {
            accept: "Aceptar", cancel: "Cancelar", clickToPickDate: "Click aqui para seleccionar una fecha", close: "Cerrar", confirmToContinue: "Porfavor, confirma para continuar", email: "Email", emailFormatNotValid: "Formato de email incorrecto", errorsInForm: "Existen errores en el formulario", mandatoryField: "Campo obligatorio", minLengthIs: "el mínimo número de caracteres es ", noResultsFound: "No se encontraron resultados", password: "Contraseña", passwordsDoNotMatch: "Las contraseñas no correspondes", siteTitle: "Template MVC III", unExpectedError: "Ha ocurrido un error no controlado", userName: "Usuario", validate: "Validar"
        };
    </script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>


    <!--Common page init scripts-->
    <script type="text/javascript" src="/public/scripts/Template.Widget.Page.js"></script>

    {{#each JsFiles}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    
    <script type="text/javascript">
        (function ($) {
            jQuery(document).ready(function () {
                VsixMvcAppResult.Widgets.Page.selector = "body";
                VsixMvcAppResult.Widgets.Page.cultureSelected = 'es';
                VsixMvcAppResult.Widgets.Page.cultureGlobalization = "es";
                VsixMvcAppResult.Widgets.Page.cultureDatePicker = "es";
                VsixMvcAppResult.Widgets.Page.defaultTheme = "Redmond";
                VsixMvcAppResult.Widgets.Page.onInit(function () { jQuery('body').removeClass('ui-hidden'); });
                VsixMvcAppResult.Widgets.Page.Init();
            });
        })(jQuery);
    </script>
</body>
</html>