<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0" />
    <title>{{Title}}</title>
    <!--Common styles begin-->
    <link id="jQueryUITheme" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/public/cdn/{{Package.name}}.{{Package.version}}.ui.css" rel="Stylesheet" type="text/css" />
    <!--Common styles end-->
    <!--View specific styles begin-->
    {{#each CssFiles}}
    <link href="{{this}}" rel="Stylesheet" type="text/css" />
    {{/each}}
    <!--View specific styles end-->
</head>
<body class="ui-widget ui-widget-content ui-helper-hidden">

    <div id="panelMenu" class="ui-mainMenu ui-state-default ui-front">
        <div class="ui-mainMenuToggle">
            <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
            <div class="ui-mainMenuToggle-text">Menu</div>
        </div>
        <div class="ui-helper-clearfix"></div>
        <ul></ul>
        <div class="ui-helper-clearfix"></div>
        <div class="ui-site-version">
            <div>Copyright © 2012 Company Co.</div>
            <div>All rights reserved</div>
            <div>v. - {{Package.version}}</div>
        </div>
    </div>

    <div class="ui-sitePage">

        <div data-widget="userActivity">
            <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all">
                <div class="ui-mainMenuToggle">
                    <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
                    <div class="ui-mainMenuToggle-text">Menu</div>
                    <div class="ui-helper-clearfix"></div>
                </div>
                <div class="ui-site-nameBox">
                    <a href="/">{{DomainName}}</a>
                </div>
            </div>
            <div class="ui-helper-clearfix"></div>
        </div>
        <div class="ui-helper-clearfix"></div>

        <div class="ui-site-title ui-state-default">
            <h1>{{Title}}</h1>
        </div>

        <!--Breadcrumb begin-->
        {{#if this.Breadcrumb }}
        <div class="ui-breadcrumb">
            <div class="ui-widget-content ui-corner-all ui-state-default">
                <ul>
                    {{#each Breadcrumb}}
                    <li>
                        {{#if this.url }}
                        <span class="ui-icon ui-icon-play"></span>
                        {{/if}}
                        <a href="{{this.url}}">{{this.title}}</a>
                    </li>
                    {{/each}}                </li>
                </ul>
                <div class="ui-helper-clearfix"></div>
            </div>
        </div>
        <br />
        {{/if}}
        <!--Breadcrumb end-->

        <div class="ui-siteContent">
            {{{body}}}
        </div>
        <br />
    </div>



    <script type="text/javascript" src="/public/cdn/{{Package.name}}.{{Package.version}}.ui_js.js"></script>
    <script type="text/javascript" src="/public/cdn/{{Package.name}}.{{Package.version}}.ui_regional_{{Globalization.cultureSelected}}.js"></script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
    {{#each JsFiles}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    <script type="text/javascript">
        (function ($) {
            jQuery(document).ready(function () {
                VsixMvcAppResult.Widgets.PageOptions.selector = "body";
                VsixMvcAppResult.Widgets.PageOptions.cultureSelected = "{{Globalization.cultureSelected}}";
                VsixMvcAppResult.Widgets.PageOptions.cultureGlobalization = "{{Globalization.cultureGlobalization}}";
                VsixMvcAppResult.Widgets.PageOptions.cultureDatePicker = "{{Globalization.cultureDatePicker}}";
                VsixMvcAppResult.Widgets.PageOptions.defaultTheme = "Redmond";
                VsixMvcAppResult.Widgets.PageOptions.onInit(function () { jQuery('body').removeClass('ui-helper-hidden'); });
                VsixMvcAppResult.Widgets.PageOptions.Init();
            });
        })(jQuery);
    </script>

    {{#if IsTest}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</body>
</html>