<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link id="jQueryUITheme" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/{{theme}}/jquery-ui.min.css" rel="Stylesheet" type="text/css" />
    <link href="/public/cdn/{{package.name}}.{{package.version}}.ui.css" rel="Stylesheet" type="text/css" />
    {{#each cssFiles}}
    <link href="{{this}}" rel="Stylesheet" type="text/css" />
    {{/each}}
</head>
<body class="">

    <div id="panelMain" class="ui-pageHolder ui-widget ui-widget-content ui-helper-hidden">

        <div id="panelMenu" class="ui-mainMenu ui-state-default">
            <div class="ui-mainMenuToggle">
                <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
                <div class="ui-mainMenuToggle-text">Menu</div>
            </div>
            <div class="ui-helper-clearfix"></div>
            <div class="ui-menuBase ui-state-default"></div>
            <div class="ui-helper-clearfix"></div>
            <div class="ui-site-version">
                <div>Copyright © 2012 Company Co.</div>
                <div>All rights reserved</div>
                <div>v. - {{package.version}}</div>
            </div>
        </div>

        <div id="panelPage" class="ui-sitePage">

            <div data-widget="userActivity">
                <div class="ui-site-header ui-widget-content ui-corner-all ui-widget-header">
                    <div class="ui-mainMenuToggle">
                        <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
                        <div class="ui-mainMenuToggle-text">Menu</div>
                        <div class="ui-helper-clearfix"></div>
                    </div>
                    <div class="ui-site-nameBox">
                        <a href="/">{{domainName}}</a>
                    </div>
                </div>
                <div class="ui-helper-clearfix"></div>
            </div>
            <div class="ui-helper-clearfix"></div>

            <div class="ui-breadcrumb-box">
                {{#if this.breadcrumb }}
                    {{{ breadcrumbHelper this }}}
                {{/if}}
            </div>

            <div class="ui-site-title ui-widget-content">
                <h1>{{title}}</h1>
            </div>


            <div class="ui-siteContent">
                {{#if body}}
                {{{body}}}
                {{/if}}
            </div>
        </div>

    </div>

    <div id="panelProgress" class="ui-progress-feedback ui-widget-overlay">
        <div class="ui-widget ui-widget-content ui-state-active "><i class="fa fa-refresh fa-spin"></i><span class="ui-progress-text">{{{__ "GeneralTexts.PleaseWait"}}}</span></div>
    </div>


    {{#if isTest}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
    <script>

        var globals = {
            crossLayer: {{{ jsonHelper  crossLayer }}},
            package: {{{ jsonHelper  package }}} ,
            globalization : {{{ jsonHelper globalization }}},
            viewEntryPoint : {{#if viewEntryPoint}} {{{ jsonHelper viewEntryPoint }}} {{else}} undefined  {{/if}},
            breadcrumb: {{#if breadcrumb}} {{{ jsonHelper breadcrumb }}} {{else}} undefined {{/if}},
            domIds:{
                panelMain: '#panelMain',
                panelMenu: '#panelMenu',
                panelProgress: '#panelProgress'
            }
        };

    </script>
    <script data-main="/public/scripts/Template.App.RequireJs.Init.js?{{crossLayer.queryParams.appVersion}}={{package.version}}" src="/public/bower_components/requirejs/require.js"></script>
</body>
</html>