<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0" />
    <title>{{Title}}</title>
    <!--Common styles begin-->
    <link id="jQueryUITheme" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/{{Theme}}/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="/public/cdn/{{Package.name}}.{{Package.version}}.ui.css" rel="Stylesheet" type="text/css" />
    <!--Common styles end-->
    <!--View specific styles begin-->
    {{#each CssFiles}}
    <link href="{{this}}" rel="Stylesheet" type="text/css" />
    {{/each}}
    <!--View specific styles end-->

    <script>
        var fancyerror = function(message, url, linenumber) {
            var errorbox = document.createElement('div');
            errorbox.className = 'fancyerror';
            errorbox.innerHTML = 'JS: <span class="ui-state-error"' +
                message.replace('<', '&lt;').replace('>', '&gt;') +
                '</span><br>line number: ' + linenumber +
                '<br>located: ' + url;
            document.body.appendChild(errorbox);
            return false;
        }

        var sendErrorToServer = function(message, url, linenumber) {
            if (window.XMLHttpRequest) {
                var xhr = new XMLHttpRequest();
                var scripturl = 'http://yourdomain.example.com/log';
                var log = linenumber + message + url;
                xhr.open('POST', scripturl);
                xhr.setRequestHeader('Content-Type', 'text/plain;charset=UTF-8');
                xhr.send(log);
            }
            return true;
        }

        window.onerror = function(message, url, linenumber) {

            //var send = sendErrorToServer(message, url, linenumber);
            var fancy = fancyerror(message, url, linenumber);

            // return true == supress errors
            // returning false triggers the execution of the built-in error handler
            return false;
        }
    </script>
    <script src="/public/bower_components/requirejs/require.js"></script>
    <script>

        var appVersion = "{{Package.version}}";

        requirejs.config({
            //Set config for finding 'jqueryui'. The path is relative
            //to the location of require-jquery.js.
            urlArgs: "bust=" + appVersion,
            paths: {
                jquery: "/public/bower_components/jquery/jquery.min",
                jqueryui: "/public/bower_components/jquery-ui/ui/minified/jquery-ui.custom.min",
                domReady: "/public/bower_components/requirejs-domready/domReady",
                handlebars: "/public/bower_components/handlebars/handlebars.min",
                history: '/public/bower_components/history.js/scripts/bundled/html5/jquery.history',

                /**************************************************************
                            Globalize dependencies paths begin
                **************************************************************/
                cldr: "/public/bower_components/cldrjs/dist/cldr",
                // Unicode CLDR JSON data.
                "cldr-data": "/public/bower_components/cldr-data",
                // require.js plugin we'll use to fetch CLDR JSON content.
                json: "/public/bower_components/requirejs-plugins/src/json",
                // text is json's dependency.
                text: "/public/bower_components/requirejs-text/text",
                // Globalize.
                globalize: "/public/bower_components/globalize/dist/globalize"
                /**************************************************************
                            Globalize dependencies paths end
                **************************************************************/

            },
            shim: {
                'jqueryui': {
                    deps: ["jquery"]
                },
                'history': {
                    deps: ["jquery"]
                },
            }
        });

        require(
        ['require',
            'jquery',
            'domReady',
            'jqueryui',
            'history',
            'handlebars',
            '/public/scripts/url/urlHelper.js',
            '/public/scripts/Template.ExtendPrototypes.js',
            "/public/scripts/Template.App.Init.js",
            "/public/scripts/Template.App.Ajax.Init.js",
            "/public/scripts/Template.App.Widgets.Init.js",
            "/public/scripts/Template.App.Resources.Init.js",
            '/public/scripts/Template.App.Globalize.Init.js',
            '/public/scripts/Template.Widget.Base.js',
            '/public/scripts/Template.Widget.Menu.base.js',
            '/public/scripts/Template.Widget.Menu.slides.js',
            '/public/scripts/Template.Widget.Menu.nav.js',
            '/public/scripts/Template.Widget.Page.js',



            {{#each JsFiles}}
                '{{this}}',
            {{/each}}


            ],
        function (req, $, domReady, jqUI, hist, handl, url, a,b,c,d,e,f,g,h,i,j,VsixMvcAppResult) {

            domReady(function () {
                //This function is called once the DOM is ready.
                //It will be safe to query the DOM and manipulate
                //DOM nodes in this function.
                VsixMvcAppResult.Widgets.PageOptions.selector = "body";
                VsixMvcAppResult.Widgets.PageOptions.cultureGlobalization = "{{Globalization.cultureGlobalization}}";
                VsixMvcAppResult.Widgets.PageOptions.cultureDatePicker = "{{Globalization.cultureDatePicker}}";
                VsixMvcAppResult.Widgets.PageOptions.onInit(function () {
                    jQuery("body").removeClass("ui-helper-hidden");
                });
                VsixMvcAppResult.Widgets.PageOptions.Init();
            });

        });
    </script>


</head>
<body class="ui-widget ui-widget-content ui-helper-hidden" >

    <div id="panelMenu" class="ui-mainMenu ui-state-default">
        <div class="ui-mainMenuToggle">
            <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
            <div class="ui-mainMenuToggle-text">Menu</div>
        </div>
        <div class="ui-helper-clearfix"></div>
        <div class="ui-menuBase"></div>
        <div class="ui-helper-clearfix"></div>
        <div class="ui-site-version">
            <div>Copyright © 2012 Company Co.</div>
            <div>All rights reserved</div>
            <div>v. - {{Package.version}}</div>
        </div>
    </div>

    <div class="ui-sitePage">

        <div data-widget="userActivity">
            <div class="ui-site-header ui-widget-content ui-corner-all ui-state-highlight">
                <div class="ui-mainMenuToggle">
                    <div class="ui-mainMenuToggle-icon fa fa-bars fa-2x"></div>
                    <div class="ui-mainMenuToggle-text">Menu</div>
                    <div class="ui-helper-clearfix"></div>
                </div>
                <div class="ui-site-nameBox">
                    <a href="/">{{DomainName}}</a>
                </div>
            </div>
            <div class="ui-helper-clearfix"></div>
        </div>
        <div class="ui-helper-clearfix"></div>

        <div class="ui-site-title ui-widget-header">
            <h1>{{Title}}</h1>
        </div>

        <!--Breadcrumb begin-->
        {{#if this.Breadcrumb }}
        <div class="ui-breadcrumb">
            <div class="ui-widget-content ui-corner-all ui-state-default">
                <ul>
                    {{#each Breadcrumb}}
                    <li>
                        {{#if this.url }}
                        <span class="ui-icon ui-icon-play"></span>
                        {{/if}}
                        <a href="{{this.url}}">{{this.title}}</a>
                    </li>
                    {{/each}}
                </ul>
                <div class="ui-helper-clearfix"></div>
            </div>
        </div>
        <br />
        {{/if}}
        <!--Breadcrumb end-->

        <div class="ui-siteContent">
            {{#if body}}
            {{{body}}}
            {{/if}}
        </div>
    </div>






    {{#if IsTest}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</body>
</html>