<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ui-helper-hidden">
        <h3>{{{__ "Helpdesk.Talks.Employee.Wellcome.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-wellcome-userIcon fa fa-arrow-right ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Employee.Wellcome.Description"}}}
        </p>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox ui-helper-hidden">
            <button class="ui-helpdesk-talks-wellcome-next">{{{__ "Helpdesk.Talks.Employee.Wellcome.Next"}}} <i class="fa fa-arrow-right "></i> </button>
        </div>

        {{#if this.viewModel.Employees }}
        <div>
            <h3>{{ this.viewModel.WhoYouAreMessage }}</h3>
            <ul class="ui-userSelector-list ui-menuTree ui-menuList ui-widget-content ui-corner-all" style="overflow: hidden;">
                {{#each this.viewModel.Employees}}
                <li class="ui-menuList-item ui-widget-content ui-corner-all"
                    data-user-id="{{this.idPeople}}">
                    <div class="ui-menuList-itemLink {{#if this.selected }} ui-state-active {{else}} ui-state-default {{/if}}">
                        <span class="ui-menuList-link">{{this.name}}</span>
                        <div class="ui-helper-clearfix"></div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <br />
        <div>
            <h3 class="ui-state-error">{{ this.viewModel.WhoYouAreMessage }}</h3>
        </div>
        {{/if}}

    </div>
</div>