<div id="demo">
    <h2>Demo output</h2>
    <p>Now: <span id="date">{{TheDate}}</span></p>
    <p>A number: <span id="number">{{TheNumber}}</span></p>
    <p>A currency: <span id="currency">{{TheCurrency}}</span></p>
    <p>Plural form of <span id="plural-number">{{ThePlural}}</span> is <span id="plural-form"></span></p>
    <p>Messages:</p>
    <ul>
        <li><span id="message-0"></span></li>
        <li><span id="message-1"></span></li>
        <li><span id="message-2"></span></li>
        <li><span id="message-3"></span></li>
    </ul>
    <p>Something happened: <span id="relative-time">{{TheTimeAgo}}</span></p>
</div>